#home {
    background: url("~@/assets/images/BG.png") no-repeat;
    background-size: cover;
    // padding-bottom: 40px;

    a {
        color: $black !important;
    }

    #transmissionsList {
        .listTitle {
            margin-top: 30px;
            padding-left: $space-lateral;
            height: 30px;
            font-family: $gilroy-bold;
            font-size: $bigger;
            font-weight: bold;
            line-height: 0.95;

            @media (max-width: 600px) {
                margin-top: 20px;
                padding-left: 15px;
                font-size: $normal;
            }
        }

        .carousel {
            height: 290px !important;

            @media (max-width: 600px) {
                height: auto !important;
            }
        }

        .owl-carousel .owl-stage {
            left: $space-lateral;
        }

        .owl-item {
            width: 155px !important;
        }

        .card {
            margin: 0;
            padding: 0;
            box-shadow: none;
            background-color: transparent;
            // width: 150px !important;
            // height: 300px !important;
            font-family: Gilroy !important;

            .card-image {
                width: 152px !important;
                height: 220px !important;
                border: 0;
                overflow: hidden;
                // @include flex;
            }

            .card-name {
                font-weight: bold;
                padding: 5px 0 !important;
                height: auto;
                // height: 1.3rem;
                overflow: hidden;

                p {
                    font-family: "gilroy-bold";
                    font-size: 13px;
                    line-height: 1.08;
                }
            }

            .card-subtitle {
                font-weight: bold;
                padding: 0 !important;
                // height: 2.2rem;
                height: auto;
                overflow: hidden;

                p {
                    font-size: 13px;
                    line-height: 1.3;
                    margin-bottom: 10px;

                }
            }

            .card-date {
                border: 0;
                padding: 0 !important;
                font-family: $gilroy-bold;
                font-size: $middle;
                line-height: 1.08;
                top: 5px;
            }

        }

    }


}