#login {
    background-image: linear-gradient(150deg, $blue-primary, $blue-secondary);

    #logo-login-area {
        text-align: center;
        margin-bottom: 55px;
    }

    strong {
        margin-left: 5px;
        border: solid 1px #{$blue-primary};
        border-radius: 15px;
        padding: 2px 10px;
    }

    // .btn-login {
    //     margin-top: 20px;
    //     @include flex(space-between, center);
    //     @include font($gilroy, $big, 600);

    //     .right-align {
    //         .text-white {
    //             @include font($gilroy, $big);
    //         }
    //     }
    // }

    a {
        @include font($gilroy, $normal, 700);
        line-height: 0.93;
        color: $blue-secondary;
    }

    .box.login {
        position: absolute;
        right: 0;
    }

    #login-form {
        .form-smart {
            width: 100%;
            height: 9rem;
            position: relative;

            .step-input {
                position: absolute;
                top: 0;
                transition: ease .3s;
                width: 100%;

                &.login-input-active {
                    left: 0
                }
            }

            .login-step {
                left: -110%
            }

            .pass-step {
                left: 110%
            }

        }




    }

}