#menu {
    position: relative;

    &-header {
        padding: 0 $space-lateral;
    }

    &-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: $space-lateral;

        @include flex(space-between);
    }
}