  #splashscreen {
    background-image: url("~@/assets/images/splash_screen_601x962.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 97;
    position: fixed;
    top: 0;
    left: 0;
  }

  #footerVersion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;

    div {
      // margin: 5px;
      display: flex;
      align-items: center;
      @include font($gilroy, $small, 500);
      line-height: 1;
    }

    svg {
      margin-left: 7px;
    }
  }