$duration: .3s;
$timing: ease;

#app {
    #sideslide {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: $grey-light-1;
        z-index: 999;

        // animation: hide $duration $timing;
        transition-duration: $duration;
        transition-timing-function: $timing;

        .viewSideslide {
            height: 100%;
            padding-top: 10px;
            padding-bottom: 10px;

            @media (orientation: landscape) {
                overflow-x: hidden;
                overflow-y: auto;
                max-height: 80vh;
                // height: calc(100% - #{$header-filled-height-s});
            }

            &>.row {
                margin-bottom: 0
            }
        }

        &.active {
            // animation: show $duration $timing;
            left: 0vw;
        }

        &-header {
            @include flex;
            @extend %header-filled;
            margin-bottom: 30px;

            .row {
                @include flex(flex-start, center);

                .col {
                    padding: 0
                }
            }

            button {
                padding-left: 10px;
            }

            strong {
                @include font($gilroy, $big, 700);
            }
        }

        &-content {
            position: relative;
            width: 100%;
            height: calc(100% - #{$header-filled-height-s});
        }

        .item-content {
            .item-text {
                .item-innet {
                    strong {
                        text-transform: uppercase;
                    }
                }
            }

            &:last-child {
                margin-bottom: 20px;
            }
        }
    }
}

@keyframes show {
    from {
        left: 100vh
    }

    to {
        left: 0vh
    }
}

@keyframes hide {
    from {
        left: 0vh
    }

    to {
        left: 100vh
    }
}