.warning-section {
    // display: none !important;
    @include size(100%);
    @include flex(center, center, column);
    padding: 0 120px;
    padding: 0 0;
    line-height: 1.28;
    text-align: center;
    color: $grey-icon;

    i {
        color: $grey-icon;
        font-size: 7rem;
        display: inline-block;
    }

    svg {
        width: 79px;
        height: 79px;
    }

    h2,
    h3,
    p,
    svg,
    i {
        margin-bottom: 10px;

    }

    h2 {
        @include font($gilroy, $normal, 800);
    }

    h3 {
        @include font($gilroy, $middle, 800);
    }


    p {
        @include font($gilroy, $middle, 800);
    }

    &.warning-full {
        @include bgapp;

        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 999;
        background-color: $white;
        @include flex(center, center, column);
    }

    .button-action {
        max-width: 90%;
        margin: 0 auto;
    }
}

#connection-warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 20px;
    // background-color: $blue-primary;
    background-color: $yellow;
    color: $white;
    z-index: 999999;
    @include flex;

    h2 {
        @include font($gilroy, $small, 600);
        color: $grey;
    }
}

.broadcastOndemand {
    // display: none !important;
    width: 100%;
    height: 48%;
    @include flex(center, center, column);
    padding: 0 120px;
    @include font($gilroy, $super-big, 600);
    line-height: 1.2;
    text-align: center;
    color: #343433;
    position: relative;
    height: calc(100% - 210px);
    padding: $lateral-padding;
    font-size: $normal;

    @media (orientation: landscape) {
        height: auto;
        padding: $space-lateral
    }

    strong {
        @include font($gilroy-bold, $normal, 600);
        color: $red;
        font-size: $normal;
        display: block;
    }

    svg {
        margin-bottom: 15px;
        width: 64px;
        height: auto
    }
}