#app {
    .button-action {
        @extend %button-action-style;

        &.full {
            width: 100%
        }

        &.blue {
            background-color: $blue-primary !important;
            color: $white;
        }

        &.grey {
            background-color: $grey-light-1 !important;

            &.disabled {
                color: $white !important;
                background-color: $grey-medium-2 !important;
            }
        }
    }

    .button-status {
        @include flex;
        position: fixed;
        bottom: calc(#{$footer-height-t} - 1px);
        left: 0;
        z-index: 2;

        // width: calc(100% - 6px);
        width: calc(100%);
        height: 120px;
        padding: 0;

        @include font($gilroy, $normal, 700);

        background-color: $grey-light-1 !important;
        color: $grey-medium-1 !important;

        &.able {
            background-color: $grey-medium-2 !important;
            color: $white !important;
        }
    }

    .button-send {
        @include flex;
        @include circle;
        @include size(50px);
        background-color: $blue-primary;
        position: fixed;
        bottom: 25px;
        right: #{$space-lateral};

    }

    .range {
        margin-bottom: 20px;

        &-row {
            @include flex(space-between);
            padding-left: 20px;
        }

        &-title {
            @include font($gilroy, $big, 500);
            color: $grey-medium-1;
            margin-bottom: 20px;
            display: block;
        }

        &-value {
            @include font($gilroy, 90px, 800);
            color: $grey-medium-1;
        }

        &-button {
            @include size(60px);
            @include flex;
            @include font($gilroy, 70px, 800);
            color: $grey-medium-1;

        }

    }

    .button-icon {
        &.right-icon {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%)
        }
    }

    .close {
        position: absolute;
        right: 25px;
        top: 25px;
    }

}