#app {
    #preloader-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 99;
        background-color: rgba(255, 255, 255, .6);
        @include flex;
    }

    .spinner-layer {
        border-color: $blue-primary !important;
    }

    .progress {
        background-color: $grey-light-1 !important;
        margin: 0;

        .indeterminate {
            background-color: $blue-primary !important;
        }
    }
}