#app {
    .tooltip {
        position: absolute;
        left: 70px;
        top: 50%;
        transform: translateY(-50%);
        @include font($gilroy, $big);
        color: $white;
        text-align: left;
        z-index: 4;
        opacity: 0;
        transition: all .4s
    }

    .active {
        .tooltip {
            opacity: 1;
        }
    }
}