#app {
    #broadcast {
        padding: $space-lateral 0;

        .close {
            position: absolute;
            right: $space-lateral;
            top: $space-lateral;
        }

        &-media {
            width: 250px;
            height: 362px;
            width: 170px;
            height: 247px;
            position: relative;
            @include flex;
            margin: 0 auto;
        }

        &-info {
            padding-top: 15px !important;
            // max-width: 170px;
            max-width: 70%;

            .label {
                @include font($gilroy, $small, 500);
                line-height: 0.93;
                text-align: center;

            }

            strong {
                @include font($gilroy-bold, $small, 500);
                line-height: 0.93;
                text-align: center;
            }
        }

        &-buttons {
            @include flex;

            .button-action {
                width: 100%;

                .preloader-wrapper {
                    @include size(25px)
                }
            }
        }

        &-text {
            padding-top: 10px;
            margin-bottom: 0;

            .item-title {
                @include font($gilroy-bold, $normal, 500);
                line-height: 1.27;
            }

            .item-subtitle {
                @include font($gilroy, $normal, 400);
                line-height: 1.27;
            }

            .item-description {
                @include font($gilroy, $middle);
                line-height: 1.33;
                padding: 8px 0;
            }
        }
    }
}