#login {
    height: 100%;
    .square-wrapper {
        width: 100%;

        .square-row {
            width: 100%;
            height: 40px;
            position: relative;
            @include size(40px);
        }
    }

    .container {
        position: relative;
        z-index: 3;
    }

    #logo-login-area {
        text-align: center;
        // margin-bottom: 55px;
        margin-bottom: 45px;
    }

    #call-action {
        font-size: $middle;
        color: $grey-medium-1;
        margin-bottom: 5px;
    }

    strong {
        margin-left: 5px;
        border: solid 1px #{$blue-primary};
        border-radius: 15px;
        padding: 2px 10px;
    }

    // .btn-login {
    //     margin-top: 20px;
    //     @include flex(space-between, center);
    //     @include font($gilroy, $big, 600);

    //     .right-align {
    //         .text-white {
    //             @include font($gilroy, $big);
    //         }
    //     }
    // }

    a {
        @include font($gilroy, $normal, 700);
        line-height: 0.93;
        color: $blue-secondary;
    }

    .box.login {
        position: absolute;
        right: 0;
    }

    .login-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: $space-lateral;
    }

    #login-form {
        position: relative;
        z-index: 2;

        .form-smart {
            width: 100%;
            height: 9rem;
            position: relative;

            .step-input {
                position: absolute;
                top: 0;
                transition: ease .3s;
                width: 100%;

                &.login-input-active {
                    left: 0
                }
            }

            .login-step {
                left: -110%
            }

            .pass-step {
                left: 110%
            }

        }


    }

}