#app {
    #privacity {
        @include bgapp;
    
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        font-family: $gilroy;
        line-height: 1.5;
        @include size(100%);
        padding: #{$space-lateral} 0;
    
        &>.container {
            padding-left: 40px;
        }
    
        // #termo {
        h2,
        h3,
        p,
        ol,
        ul {
            display: block;
            margin-bottom: 20px;
    
            &:last-child {
                margin-bottom: 0
            }
        }
    
        ol {
            list-style: decimal;
    
            li {
                font-weight: 700;
                font-size: $normal;
            }
        }
    
        h3 {
            font-size: $normal;
            font-weight: 700;
    
        }
    
        ul {
            padding-left: 20px;
    
            li {
                list-style: disc;
                margin-bottom: 20px;
            }
        }
    
        ul li,
        p {
            font-size: $normal;
        }
    
        a {
            color: $blue-primary;
            display: inline;
        }
    }
}