@import "../partials/variables";
@import "../partials/mixins";
@import "../partials/reset";
@import "../partials/fonts";
@import "../partials/helpers";

@import "modules/header";
@import "modules/footer";
@import "modules/sidenav";
@import "modules/sideslide";
@import "modules/warnings";
@import "modules/broadcast";

@import "components/list";
@import "components/forms";
@import "components/buttons";
@import "components/alert";
@import "components/toast";
@import "components/overlay";
@import "components/tooltip";
@import "components/loader";
@import "components/media";
@import "components/square";

html,
body,
#app,
#base-smartphone {

    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --safe-area-inset-right: env(safe-area-inset-right);
    --safe-area-inset-left: env(safe-area-inset-right);

    width: calc(100% + var(--safe-area-inset-right) + var(--safe-area-inset-left));
    height: calc(100% + var(--safe-area-inset-bottom));

    // @media (orientation: landscape) {
    // --safe-area-inset-top: env(safe-area-inset-top);
    // --safe-area-inset-bottom: env(safe-area-inset-bottom);
    // --safe-area-inset-right: env(safe-area-inset-right);
    // --safe-area-inset-left: env(safe-area-inset-right);
    // width: calc(100% + (var(--safe-area-inset-left) + var(--safe-area-inset-right))) !important;
    // height: calc(100% - (var(--safe-area-inset-top) + var(--safe-area-inset-bottom))) !important;
    // }
}

body {
    width: 100%;
    height: 100%;
    font-size: 16px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#app {
    font-family: $gilroy;
    @include size(100%);
    // -webkit-overflow-scrolling: touch;

    max-height: 100vh;
    overflow: hidden;

    // @media (orientation: landscape) {
    //     --safe-area-inset-top: env(safe-area-inset-top);
    //     --safe-area-inset-bottom: env(safe-area-inset-bottom);
    //     height: calc(100% - (var(--safe-area-inset-top) - var(--safe-area-inset-bottom))) !important;
    // }

    // padding: constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom) constant(safe-area-inset-left); //[ <iOS 11.2 ]
    // padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left); // [ >iOS11.2 ]

    .container {
        width: 100%;
        max-width: 100%;
        padding: $lateral-padding;
    }

    .center-view {
        @include flex(center, center, column)
    }

    .base {
        @include size(100%);
    }

    .view {
        width: 100%;
        height: calc(100% - #{$header-height-s});
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        @include bgapp;

        // padding: $space-lateral 0;
        padding: 0;

        &.no-scroll {
            overflow: hidden;
        }

        &.without-footer {
            height: calc(100% - #{$header-height-s})
        }

        &.full {
            height: 100%;
        }

        .view-internal {
            @include size(100%);
            padding-top: 35px;
        }
    }

    .center-view {
        @include flex(center, center, column);
        @include size(100%);
    }
}