@mixin font($family: $gilroy, $size: $normal, $weight: 400) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight
}

@mixin dimension($width, $height) {
  width: $width;
  height: $height;
}

@mixin transitionScreen {
  transition: ease .5s;
}

@mixin size($size) {
  width: $size;
  height: $size;
}

@mixin circle {
  border-radius: 50%;
}

@mixin bgapp {
  background: {
    image: url("~@/assets/images/BG.png");
    color: $grey-light-5;
    position: center top;
    repeat: no-repeat;
    size: cover;
  }
}

@mixin flex($x: center, $y: center, $direction: row) {
  display: flex;
  align-items: $y;
  justify-content: $x;
  flex-direction: $direction;
}

@mixin no-mgn($side) {
  margin: {
    #{$side}: 0 !important;
  }
}

@mixin no-pad($side) {
  padding: {
    #{$side}: 0 !important;
  }
}

// Extends
%button-action-style {
  @include flex;
  @include font($gilroy, $big, 500);
  text-align: center;
  color: $white;
  min-width: 110px;
  text-transform: capitalize;
  box-shadow: none;
  padding: 12px;
  background-color: $blue-primary;
  border-radius: 0;

  @media (max-width: 600px),
  (max-width: 1200px) and (orientation: landscape) {
    text-transform: initial;
    font-size: $normal
  }
}

%input-style {
  @include font($gilroy, $big, 600);
  line-height: 1.6;
  line-height: 2.42;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 100%;
  height: 2.5rem;
  display: block;
  text-align: left;
  box-sizing: border-box;

  @media (max-width: 600px),
  (max-width: 1200px) and (orientation: landscape) {
    font-size: $normal;
  }

  &:focus {
    border-right: none !important;
    border-left: none !important;
    box-shadow: none !important
  }

  &[type="password"] {
    padding-right: 25px;
  }

  &::placeholder {
    @include font($gilroy, $big, 600);
    color: $grey-light-4;
    display: block;
    width: 100%;

    @media (max-width: 600px),
    (max-width: 1200px) and (orientation: landscape) {
      font-size: $normal;
    }
  }

  &.input-white {
    text-align: left;
    color: $white;
    // color: rgba(255, 255, 255, 0.5);

    &::placeholder {
      color: $white;
    }

    &:not([type]):focus:not([readonly]),
    &[type="text"]:not(.browser-default):focus:not([readonly]),
    &[type="password"]:not(.browser-default):focus:not([readonly]),
    &[type="email"]:not(.browser-default):focus:not([readonly]),
    &[type="url"]:not(.browser-default):focus:not([readonly]),
    &[type="time"]:not(.browser-default):focus:not([readonly]),
    &[type="date"]:not(.browser-default):focus:not([readonly]),
    &[type="datetime"]:not(.browser-default):focus:not([readonly]),
    &[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
    &[type="tel"]:not(.browser-default):focus:not([readonly]),
    &[type="number"]:not(.browser-default):focus:not([readonly]),
    &[type="search"]:not(.browser-default):focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly]) {
      border-bottom: 1px solid #fff !important;
      box-shadow: 0 !important;
    }

    &~label {
      color: $white !important;

      &.active {
        color: $white !important;
      }
    }

    &.invalid {
      border-bottom: 1px solid $white !important;
      box-shadow: none !important;

      &::placeholder {
        color: $white !important;
      }
    }

    &~.show-password {
      color: $white;
    }
  }

  &.invalid {
    border-bottom: 1px solid $blue-primary !important;
    box-shadow: none !important;

    &::placeholder {
      color: $blue-primary !important;
    }
  }

  &.error {
    border-bottom: 1px solid $red !important;
    box-shadow: none !important;

    &::placeholder {
      color: $red !important;
    }

    &~label {
      color: $red !important;
    }
  }

}

%header-filled {
  width: 100%;
  height: $header-filled-height-t;
  padding: $header-top-padding-t;
  background: $blue-primary;
  color: $white;

  @media (max-width: 600px),
  (max-width: 1200px) and (orientation: landscape) {
    height: $header-filled-height-s;
    padding: $header-top-padding-s;
  }
}