* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  @include font;
  line-height: 110%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote {

  &:before,
  &:after {
    content: "";
    content: none;
  }
}

q {

  &:before,
  &:after {
    content: "";
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

span,
label,
li,
a,
legend,
input,
button,
p,
i {
  // @include font_size($font-medium);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  line-height: normal;
  -webkit-appearance: none;
  text-align: inherit;
  outline: none;

  &:focus {
    background-color: transparent !important;
  }
}

a,
button {
  transition: ease 0.3s;
  // color: $second-color;
  cursor: pointer;

  &:active,
  &:focus,
  &:hover {
    // color: $first-color;
  }
}

body {
  overflow: hidden;
  font-size: 16px;
}

// #app-base {

div,
p,
span,
li,
a,
input,
legend,
label {
  // @include font($regular);
  // @include font_size($font-medium);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // @include font($medium);
}

strong {
  @include font($gilroy, $normal, 600);
}

// ::-webkit-scrollbar {
//   width: 5px;
// }

// ::-webkit-scrollbar-track {
//   background-color: $white;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: $blue-primary;
// }

// }