.liveCard {
    width: 100%;
    height: 338px;
    overflow: hidden;
    position: relative;
    display: block;

    @media (max-width: 600px) {
        height: 210px;
        // height: 45%;
    }

    .degrade {
        width: 100%;
        height: 102px;
        bottom: 0;
        left: 0;
        position: absolute;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.85));
        z-index: 0;
    }

    .liveImage {
        @include flex;
        overflow: hidden;
        @include size(100%);

        .media {
            @include size(100%);
            @include flex;

            img {
                @include size(100%);
                object-fit: cover;
            }

            iframe {
                @include size(100%);
                display: block;

            }
        }


    }

    .liveButtons {
        position: absolute;
        right: 15px;
        top: 15px;

        a {
            @include size(38px);
            @include flex;
            margin-left: 7px;
            display: inline-block;
        }
    }

    .liveSignal {
        background: $red;
        color: $white;
        width: 62px;
        height: 18px;
        top: 15px;
        left: 40px;
        font-family: $gilroy-bold;
        font-size: $middle;
        font-weight: normal;
        line-height: 1.08;
        text-align: center;
        position: absolute;
        z-index: 2;
        @include flex;
    }

    .liveWatchers {
        // background-color: $grey-light-1;
        background-color: #dedede;
        height: 14px;
        position: absolute;
        top: 15px;
        left: 75px;
        text-align: center;
        z-index: 2;
        @include flex;

        padding: 0 5px;

        i {
            font-size: $normal;
            color: $black-2;
            display: inline-block;
            margin-right: 5px;
        }

        strong {
            font-family: $gilroy;
            font-size: $smaller;
            font-weight: 700;
            color: $black-2;
            line-height: 1.08;
        }
    }

    .liveText {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px #{$space-lateral};
        z-index: 2;

        &>div {
            line-height: 120%;
        }

        .liveTitle {
            font-family: $gilroy-bold;
            font-size: $normal;
            font-weight: normal;
            // line-height: 1.15;
            letter-spacing: normal;
            color: #ffffff;
            // left: 40px;
            // bottom: 90px;
            // position: relative;
        }

        .liveSubtitle {
            font-family: $gilroy;
            font-size: $normal;
            // line-height: 1.15;
            height: 2.2rem;
            letter-spacing: normal;
            color: #ffffff;
            // left: 40px;
            // left: 40px;
            // bottom: 88px;
            // position: relative;

        }

        .liveDate {
            font-family: $gilroy-bold;
            font-size: $normal;
            font-weight: normal;
            // line-height: 1.15;
            letter-spacing: normal;
            color: #ffffff;
            // left: 40px;
            // bottom: 90px;
            // position: relative;

        }
    }


}