.warning-section {
    // display: none !important;
    @include size(100%);
    @include flex(center, center, column);
    padding: 0 120px;
    // font-family: $gilroy;
    // font-size: $super-big;
    // font-weight: 600;
    line-height: 1.28;
    text-align: center;
    color: $grey-icon;

    i {
        color: $grey-icon;
        font-size: 7rem;
        display: inline-block;
    }

    h2,
    h3,
    p,
    svg,
    i {
        margin-bottom: 20px;
    }

    h2 {
        @include font($gilroy, $super-big, 800);
    }

    h3 {
        @include font($gilroy, $big, 800);
    }


    p {
        @include font($gilroy, $normal, 800);
    }

    &.warning-full {
        background: {
            image: url("~@/assets/images/BG.png");
            position: center;
            repeat: no-repeat;
            size: cover;
        }

        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 999;
        background-color: $white;
        @include flex(center, center, column);
    }

    .button-action {
        max-width: 90%;
        margin: 0 auto;
    }
}

.transmissionOndemand {
    // display: none !important;
    width: 100%;
    height: 48%;
    @include flex(center, center, column);
    padding: 0 120px;
    @include font($gilroy, $super-big, 600);
    line-height: 1.2;
    text-align: center;
    color: #343433;

    strong {
        @include font($gilroy-bold, $super-big, 600);
        color: $red;
    }

    svg {
        margin-bottom: 15px;
    }
}