#app {
    #preloader-container {
        position: fixed;
        top: 0;
        left: 0;
        @include size(100%);
        z-index: 99;
        background-color: rgba(255, 255, 255, .6);
        @include flex(center, center, column);

        .preloader-wrapper {
            // position: static;
            // transform: translate(0)
        }

        .preloader-text {
            display: block;
            font-size: $normal;
            font-weight: 800;
            color: $grey;
            margin-top: 10px;
        }
    }

    .spinner-layer {
        &.layer-blue {
            border-color: $blue-primary !important;
        }
        &.layer-white {
            border-color: $white !important;
        }
    }

    // .preloader-wrapper {
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%)
    // }

}