.media {
    @include size(100%);
    @include flex;
    background-color: rgba(0, 0, 0, 0.08);
    position: relative;

    img {
        @include size(100%);
        object-fit: cover;
    }

    svg {
        width: 90px;
    }

    .preloader-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        // transform: translate(-50%);
        z-index: 2;
        margin-left: -15px;
        margin-top: -15px;
    }
}