#toast-container {
    // width: 100%;
    max-width: 100%;
    bottom: 10%;
    z-index: 99999;
    // left: 50%;
    // transform: translateX(-50%);
    padding: 0 20px;

    .toast {
        width: 100%;
        font-weight: 800;
        max-width: 90%;
        font-size: $normal;

        &.success {
            background-color: $blue-third !important;
            color: $white
        }

        &.warning {
            background-color: $yellow !important;
            color: $black-2;
        }

        &.error {
            background-color: $red !important;
            color: $white
        }
    }
}